<div class="container">
    <div class="row">
        <h1>Educacion</h1>
        <div class="col-sm-1 col-xl-1"></div>
        <div class="col-sm-11 col-xl-11">
            <ul>
                <li><h2> Educacion 1</h2> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quia animi amet adipisci quo nobis accusantium nihil mollitia, quas assumenda id provident, rem illum fuga quam consequatur, suscipit optio vero.</p>
            </ul>
            <ul>
                <li><h2> Educacion 2</h2> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quia animi amet adipisci quo nobis accusantium nihil mollitia, quas assumenda id provident, rem illum fuga quam consequatur, suscipit optio vero.</p>
            </ul>
    
        </div>
    </div>
    </div>
