<div class="container-fluid">
  <div class="row">
    <h2 class="habilidad">Habilidades</h2>
    <h3 class="hs">Hard skills</h3>
    <div class="col-sm-12 col-lg-12">
      <button type="button" class="btn btn-dark" routerLink="/nuevahabilidad" *ngIf="isLogged"><i class="bi bi-plus-circle"></i>
          Agregar habilidad
      </button>
  </div>
  <div class="col-sm-12 col-lg-12">
  <div *ngFor="let Habilidad of habilidad">
        <div class="nombreH">{{Habilidad.nombreH}}
          <div class="progress">
            <div class="progress-bar" role="progressbar"  [style.width]="Habilidad.progreso + '%'"aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{Habilidad.progreso}}%</div>
          </div>
        </div>
       
        <div *ngIf="isLogged" class="inline">
            <button class="btn btn-light" routerLink="/edithabilidad/{{Habilidad.id}}">
                <i class="bi bi-pencil-fill"></i> EDITAR</button>
  </div>
        <div *ngIf="isLogged" class="inline">
            <button  class="btn btn-danger" (click)="delete(Habilidad.id)">
                <i class="bi bi-trash-fill"></i> BORRAR</button>
        </div>

</div>
  </div>
  </div>
</div>

