<div class="container" *ngIf="sobremi">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreS">Nombre del titulo</label>
                    <input type="text" class="form-control" id="nombreS" name="nombreS" [(ngModel)]="sobremi.nombreS" required>
                    
                </div>
                
                <div class="form-group">
                    <label for="descripcionS">Descripción personal</label>
                    <input type="text" class="form-control" id="descripcionS" name="descripcionS" [(ngModel)]="sobremi.descripcionS" required>
                </div>
                <div class="form-group">
                    <label for="img_url">Url foto</label>
                    <input type="file" class="form-control" id="img_url" name="img_url" [(ngModel)]="sobremi.img_url" required>
                </div>
                
                <button class="btn btn-primary">
                   Editar
                </button>
            </form>
        </div>
    </div>
</div>
