<div class="container"> 
    <div class="row aling-items-start">
        <div class="col-sm-4 col-xl-2">
            <img src="../../../assets/fotoMia.jpg" alt="Foto personal" class="img-fluid" id="fotodeperfil">
        
        </div>
        <div class="col-sm-8 col-xl-10">
            <h1 id="nombre">Lucciarini Rosa Lina</h1>
            <h2 id="developer">Developer Full Stack</h2>

        </div>
        
        
        <div>
        
            <span class="col-sm-12 col-lg-12">
            <h2 class="acerca">Acerca de mi</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vero dicta laudantium enim temporibus laborum illum dolore. Iusto optio aliquam dolorem modi quas, ipsum, expedita, deserunt minima veniam consectetur corrupti!</p>
            </span>
        </div>

        

    </div>
</div>

