<div class="container-fluid">
<div class="row">
    <div class="col-sm-12 col-lg-12">
        <img src="../../../assets/fotoMia.jpg" class="img-fluid" id="fotodeperfil">
        <button type="button" class="btn btn-dark" routerLink="/nuevosobremi" *ngIf="isLogged"><i class="bi bi-plus-circle"></i>
            Agregar informacion personal
        </button> 
    </div>
    <div *ngFor="let Sobremi of sobremi" class="col-sm-12 col-lg-12">

    <div>
        <h2 class="titulo" >
            {{Sobremi.nombreS}}
        </h2>
    </div>
    
    <div>
       
            <h2 class="sobremi center">Sobre mi</h2>
            <p class="descripcionS">{{Sobremi.descripcionS}}</p>
        
    </div>
    <div *ngIf="isLogged" class="inline">
        <button class="btn btn-light" routerLink="/editsobremi/{{Sobremi.id}}">
            <i class="bi bi-pencil-fill"></i> EDITAR</button>
    </div>
    <div *ngIf="isLogged" class="inline">
        <button  class="btn btn-danger" (click)="delete(Sobremi.id)">
            <i class="bi bi-trash-fill"></i> BORRAR</button>
        </div>
        
   
    </div>
</div> 
</div>

