<div class="container-fluid">
    <div class="row">
    <h2 class="experiencia">Experiencia laboral</h2>
    <div class="col-sm-12 col-lg-12">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged"><i class="bi bi-plus-circle"></i>
            Nueva Experiencia
        </button>
    </div>

    
    <div class="col-sm-12 col-lg-12">
        
             <div *ngFor="let Experiencia of expe">
                    
                        <h3 class="nombrexp"><li>{{Experiencia.nombrE}}</li></h3>
                   
                    <p class="descripcionE">{{Experiencia.descripcionE}}</p>
                  <div *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                        </div>
                   
                    <div *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                        </div>
                    
    </div>
    </div>

</div>
</div>
