<div class="container-fluid">
    <div class="row">
    <h2 class="proyectos">Proyectos</h2>
    <div class="col-sm-12 col-lg-12">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproyecto" *ngIf="isLogged"><i class="bi bi-plus-circle"></i>
            Nuevo proyecto
        </button>
    </div>

    
    <div class="col-sm-12 col-lg-12">
       
                <div *ngFor="let Proyecto of proyecto">
                    
                        <h3 class="nombreP"><li>{{Proyecto.nombreP}}</li></h3>
                    
                    <p class="descripcionP">{{Proyecto.descripcionP}}</p>
                    <div *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editproyecto/{{Proyecto.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </div>
                    <div *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </div>
       
    </div>
    </div>
    </div>
</div>
