.row{
    background-color: #607D8B;
    padding: 40px;
    color: black;

}
h2, h3{
    display: inline;
}
.proyectos{
    margin-bottom: 10px;
    display: flex;
    
    line-height: 1em;
    font-size: 3em;
    font-family: 'Libre Baskerville', serif;
    margin-top: 10px;
}
.nombreP{
    display: flex;
    
    line-height: 1em;
    font-size: 2em;
    font-family: 'Libre Baskerville', serif;
    margin-top: 10px;
}
.descripcionP{
    font-family: 'Libre Baskerville', serif;
    

}

button{
    font-size: 10px;
    float: inline-start;
    
    margin: 5px;

}



